{% extends 'base.html' %}

{% block content %}

<section class="container">
	<h1 style="margin: 55px 0">Lista de personas</h1>
	<table id="xhr" class="table table-hover">
		<thead>
	    	<tr>
	    	  <th scope="col">Nombre</th>
	    	  <th scope="col">Cedula</th>
	    	  <th scope="col">Nacionalidad</th>
	    	  <th scope="col">Edad</th>
	    	  <th scope="col">Acciones</th>
	    	</tr>
		</thead>
		<tbody>
			<button style="margin-bottom: 20px;" type="button" id="update-list-btn" class="btn btn-secondary">Actualizar Lista</button>
			{% for person in persons %}
			<tr>
				<td>{{ person.name }}</td>
				<td>{{ person.id_card }}</td>
				<td>{{ person.nationality }}</td>
				<td>{{ person.age }}</td>
				<td>
					<a href="{% url "edit_person" person.id %}">
						<button type="button" class="btn btn-warning">Editar</button>
					</a>
					<a href="{% url "delete_person" person.id %}">
						<button type="button" class="btn btn-danger">Eliminar</button>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table> 
</section>


{% endblock %}